%h1 Listing administrators

%table
  %thead
    %tr
      %th Email
      %th Crypted password
      %th Salt
      %th
      %th
      %th

  %tbody
    - @administrators.each do |administrator|
      %tr
        %td= administrator.email
        %td= administrator.crypted_password
        %td= administrator.salt
        %td= link_to 'Show', administrator
        %td= link_to 'Edit', edit_administrator_path(administrator)
        %td= link_to 'Destroy', administrator, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Administrator', new_administrator_path
