%p#notice= notice

%p
  %b Email:
  = @administrator.email
%p
  %b Crypted password:
  = @administrator.crypted_password
%p
  %b Salt:
  = @administrator.salt

= link_to 'Edit', edit_administrator_path(@administrator)
\|
= link_to 'Back', administrators_path
